{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'MyPolls/static/MyPolls/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<style>
       BODY
       {
        background: linear-gradient(21deg, #dd03e4, #5611ec);
       }
  </style>
        <h1>
            <p align="center" style="font-size: 40px; margin-top: 400px">
                    Welcome to My Site!
            </p>
        </h1>
        <h2>
            <p align="center" style="font-size: 25px">
                <a href="login" style="height:50px;width:350px" class="btn btn-dark"> Вход</a>
                <a href="register" style="height:50px;width:350px" class="btn btn-dark">Регистрация</a><br>
        </h2>
        <h3>
            <p align="center" style="font-size: 1px; margin-top: 442px">

        </h3>
</body>
</html>